.schedule-large {
  display: grid;
  grid-template-columns: 0.5fr repeat(7, 1fr);
  grid-auto-rows: minmax(75px, auto);
  grid-gap: 10px;
  width: 100%;
  z-index: 1;

  @media (max-width: 960px) {
    display: none !important;
  }
}

.header-days {
  margin-bottom: 20px;
}

.header-rooms {
  position: absolute;
  width: 100%;
  height: 75px;
  background: var(--primary);
  z-index: 0;
  left: 0;
  right: 0;
}

.slot {
  border-radius: 5px;
  padding: 10px;
  overflow: hidden;
  word-wrap: break-word;
  text-align: center;
  display: flex;
  justify-content: center;
  z-index: 1;

  &.room {
    align-items: center;

    &:not(:first-of-type)::before {
      content: "";
      height: 50%;
      border: solid 1px white;
      border-radius: 0;
      border-width: 0 0 0 1px;
      margin-left: -10px;
      width: 10px;
    }

    h3 {
      width: 100%;
      font-weight: 600;
      color: white;
      // color: var(--primary-dark);
    }
  }

  &.fixed {
    align-items: center;
  }

  &.keynote,
  &.party {
    background-color: var(--primary);
  }

  &.break {
    // background-color: #75743c;
    border: 1px solid white;
  }

  &.lunch,
  &.opening {
    background: linear-gradient(to right, #fdcc79, #e04545);

    h3 {
      color: var(--primary-dark);
      font-weight: 600;
    }
  }

  &.session-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    background-color: var(--tertiary);
    color: var(--primary-dark);

    &.cancelled {
      opacity: 50%;

      .session-title {
        text-decoration: line-through;
      }
    }

    > a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }

    .session-title {
      font-size: 13px;
      text-align: left;
      margin-bottom: 10px;
      font-weight: 500;
    }

    .session-info-bottom {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: small;
      width: 100%;
      margin: 0 auto;
    }

    .speakers {
      display: flex;
      justify-content: space-evenly;
      background-color: var(--primary);
      border: 1px solid var(--primary-dark);
      border-radius: 5px;
      width: 100%;
      margin: 5px auto;

      .speaker {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 10px;
        position: relative;
        color: var(--tertiary);
      }
    }
  }
}

.mobile-schedule {

  @media (min-width: 960px) {
    display: none !important;
  }

  .hour {
    width: 100%;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    margin-top: 20px;
  }

  .slot {
    min-height: 80px;

    .session-title {
      font-size: 13px;
      text-align: left;
    }

    .session-info-middle {
      flex-direction: row;
      justify-content: start;
      align-items: center;

      .speakers {
        margin-left: 10px;
      }
    }
  }
}

.button-schedule {
  min-width: 150px;
  min-height: 50px;

  &:not(.current) {
    color: var(--tertiary-darker);

    &:hover {
      color: inherit;
    }

    background-color: var(--primary);
  }

  &.current {
    background-color: var(--secondary);
  }
}


.tags .MuiChip-iconSmall {
  font-size: 14px !important;
  margin-left: 4px;
}