.speakers-list {
  .speaker {
    display: flex;
    width: 100%;
    height: 100%;

    h4 {
      color: var(--tertiary);
      font-size: .9rem;
      &:first-of-type {
        font-weight: 600;
      }
    }

    li {
      display: flex;
    }
  }
}
