.jumbo {

  .jumbo-home-blood {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    top: 0;
    flex-grow: 1;
    z-index: -1;
    img {
      height: auto;
      width: 100%;
      margin: auto;
      display: block;
    }
  }

  .logo-jumbo-home {
    width: 100%;
    margin-top: 0;
    max-height: 30%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: auto;
      width: 50%;
      max-height: 100%;
      margin: auto;
      display: block;
      @media (max-width: 960px) {
        width: 75%;
      }
    }
  }

  h1 {
    margin: 1rem 0 1rem;
  }

  .disabled {
    color: gray;
    background-color: #ff4e5377;
    cursor: not-allowed;
  }
}
.home-speakers .speakers-list .speaker h4 {
  color: var(--primary-light);
}

.modal-apps {
  .modal-content {
    width: 700px;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border: 1px solid var(--tertiary);
    border-radius: 7px;
    background-color: var(--primary);

    .modal-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .MuiButtonBase-root {
        margin: 20px;
      }
    }
  }
}

.tickets {
  .ticket {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;

    background-color: #c6353b;
    background-image: url('/images/jumbo-blood.svg');
    background-repeat: no-repeat;
    background-blend-mode: difference;
    height: 300px;
    width: 200px;
    max-width: 200px;
    color: var(--primary-dark);
    clip-path: polygon(
      20px 0,
      0 20px,
      0 calc(100% - 20px),
      20px 100%,
      calc(100% - 20px) 100%,
      100% calc(100% - 20px),
      100% 20px,
      calc(100% - 20px) 0
    );
    border-width: 2px;
    border-style: dashed none;
    border-color: var(--primary);
    border-spacing: 2px;
    cursor: pointer;

    &::before,
    &::after,
    .ticket-wrapper::before,
    .ticket-wrapper::after {
      content: "";
      background-color: var(--primary-dark);
      justify-content: center;
      display: flex;
      align-items: center;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      width: 60px;
      height: 60px;
      border-radius: 0 0 18px 0;
      z-index: 2;
    }
    .ticket-wrapper::before,
    .ticket-wrapper::after {
      width: 72px;
      height: 66px;
      z-index: 1;
      background-color: var(--primary);
    }

    &::before,
    .ticket-wrapper::before {
      top: 0;
    }

    &::after,
    .ticket-wrapper::after {
      bottom: 0;
      transform: rotate(180deg);
    }

    &::before {
      background-color: var(--primary-dark);
      background-image: url("/images/devfest-color-icon.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 75%;
    }
    &::after {
      opacity: 0.3;
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }

    .ticket-wrapper {
      padding: 75px 10px;
      height: 100%;

      .ticket-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        height: 100%;

        .price {
          display: flex;
          flex-direction: column;
          justify-content: start;
          text-align: center;
          align-items: center;

          hr {
            border-bottom-width: 2px;
            border-radius: 2px;
            border-color: var(--secondary);
            width: 66px;
          }

          h2 {
            color: var(--primary-dark);
            margin: 10px 0 5px 0;
          }
        }
        .description {
          p {
            margin: 5px 0;
          }

          .quantity {
            opacity: 0.75;
            font-size: 80%;
          }
        }
      }
    }
  }
}

.animations-section { 
  @media (max-width: 960px) {
    height: 60vh;
  }
}


.animation-card {
  width: 45%;
  margin: 0 auto;
  background: black !important;
  border: 1px solid #ff4e53;
  border-radius: 20px;

  // Add break point at mui small to change width to 90%
  @media (max-width: 960px) {
    width: 90%;
  }
}