@font-face {
  font-family: "Crimson Text", serif;
  src: url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400&display=swap");
  font-display: swap;
}

body {
  --primary: #000000;
  --primary-dark: #000000;
  --primary-light: #3577bc;
  --secondary-light: #ba433f;
  --secondary: #ff4e53;
  --tertiary: #fcefb2;
  --tertiary-dark: #f9e075;

  background-color: var(--primary-dark) !important;

  &:has(.jumbo), &:has(.hero) {
    
      // &:before {
      //   content: "";
      //   position: absolute;
      //   z-index: -1000;
      //   top: 0;
      //   width: 100%;
      //   height: 100%;
      //   background: linear-gradient(
      //     310deg,
      //     transparent 75%,
      //     rgba(255, 255, 255, 0.9) 79.5%,
      //     rgba(255, 255, 255, 0.9) 80.5%,
      //     transparent 85%
      //   );
      //   @media (max-width: 960px) {
      //     background: linear-gradient(
      //       300deg,
      //       transparent 75%,
      //       rgba(255, 255, 255, 0.9) 79.5%,
      //       rgba(255, 255, 255, 0.9) 80.5%,
      //       transparent 85%
      //     );
      //   }
      // }
      // &:after {
      //   content: "";
      //   z-index: -1000;
      //   position: absolute;
      //   top: 0;
      //   width: 100%;
      //   height: 100%;
      //   background: linear-gradient(
      //     50deg,
      //     transparent 75%,
      //     rgba(255, 255, 255, 0.9) 79.5%,
      //     rgba(255, 255, 255, 0.9) 80.5%,
      //     transparent 85%
      //   );
      //   @media (max-width: 960px) {
      //     background: linear-gradient(
      //       60deg,
      //       transparent 75%,
      //       rgba(255, 255, 255, 0.9) 79.5%,
      //       rgba(255, 255, 255, 0.9) 80.5%,
      //       transparent 85%
      //     );
      //   }
      // }

  }
}

a {
  all: unset;
  cursor: pointer;
}

.secondary,
.primary-dark {
  a {
    color: var(--tertiary);
    font-weight: 500;
  }
}
a.md-link {
  color: var(--tertiary);
  font-weight: 500;
  &:hover {
    text-decoration: underline;
  }
}

// .bande-film-top {
//   &::before {
//     background-image: url("/images/bande-film.svg");
//     content: "";
//     height: 50px;
//     width: 100%;
//     background-repeat: repeat-x;
//     position: relative;
//   }
// }

// .bande-film-bottom {
//   &::after {
//     background-image: url("/images/bande-film.svg");
//     content: "";
//     height: 50px;
//     width: 100%;
//     bottom: -50px;
//     background-repeat: repeat-x;
//     position: relative;
//   }

//   &.jumbo {
//     height: calc(100vh - 15px);
//     padding-bottom: 50px;
//   }
// }
